.step4 h1 {
  text-align: center;
  color: rgb(0, 81, 109);
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 50px;
}
.step4 .img {
  display: flex;
  justify-content: center;
}
.step4 .img img {
  width: 100px;
  margin: 30px;
}
.step4 p {
  text-align: center;
  margin: 0 155px;
  font-weight: 800;
  font-size: 19px;
  opacity: 0.7;
}
