.comment {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.67),
      rgba(255, 255, 255, 0.697)
    ),
    url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.container {
  display: flex;
  gap: 40px;
}
.left,
.right {
  width: 50%;
  position: relative;
}
.left img {
  position: absolute;
  object-fit: cover;
}
.left img:first-child {
  z-index: 1;
  left: 0;
  top: 0;
  width: 330px;
  height: 500px;
  border: 10px solid #fff;
  border-radius: 45% 0 45% 0;
}
.left img:last-child {
  z-index: 2;
  transform: translateY(120px);
  right: 50px;
  width: 300px;
  height: 430px;
  border: 10px solid #fff;
  border-radius: 38% 0 38% 0;
}
.customers {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  width: 100%;
  height: 320px;
}
.item {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.item.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
.item.next {
  display: block;
  opacity: 0;
  transform: translateX(100%);
}
.item.prev {
  display: block;
  opacity: 0;
  transform: translateX(-100%);
}
.customers .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1111;
  display: flex;
  gap: 20px;
}
.customers .btn button {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #113d48;
  color: #113d48;
  transition: 0.4s ease-in-out;
  padding: 12px 20px;
}
.customers .btn button:hover {
  background-color: #1ca8cb;
  color: #fff;
}
.img {
  border: 10px solid white;
  border-radius: 40% 0% 40% 0%;
  overflow: hidden;
  width: 320px;
}
.img2 {
  border: 10px solid white;
  border-radius: 40% 0% 40% 0%;
  overflow: hidden;
}
.item i {
  color: #ffa944;
  font-size: 14px;
  margin-right: 5px;
}
.item .text {
  color: rgb(53, 53, 53);
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.info h5 {
  font-weight: 700;
  font-size: 19px;
}
.info p {
  opacity: 0.7;
  font-size: 16px;
}
.info img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 4px solid #1ca8cb;
}
